body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(52, 61, 61);
    font-family: Helvetica;
    text-align: center;
    list-style-position: inside;
}

nav, a:link, a:hover, a:visited, a:active {
    color: orange;
    font-weight: 200;
}

h1 {
    color: rgb(52, 61, 61);
    background-color: palegreen;
    font-weight: 500;
    margin-top: auto;
}

h2 {
    color: palegreen;
    font-weight: 400;
} 

h2+p {
    color: white;
    font-weight: 200;
}

img {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

footer {
    background-color: palegreen;
    color: rgb(52, 61, 61);
    margin-top: auto;
}

div {
    display: inline-block;
    text-align: left;
}