body {
    background-color: black;
    font-family: Helvetica;
    text-align: center;
}

nav {
    color: thistle;
}

h1 {
    color: mintcream;
    font-weight: 500;
}

h2 {
    color: mistyrose;
    font-weight: 300;
} 

h2 p {
    color: white;
}

img {
    border-radius: 50%;
}

footer {
    background-color: palegreen;
}